*.o
compile
pg-cop-hypervisor
pg-cop-tester
*.out
*.orig
*.files
*~
*.so
\#*\#
Makefile
configure
ltmain.sh
INSTALL
install-sh
*.in
config.h
*.m4
*.cache
depcomp
.libs
missing
config.guess
config.sub
COPYING
*.so.*
config.log
config.status
.deps
*.la
*.lo
libtool
stamp-*
*_ag.[ch]